extends layouts/basic-layout.pug        
block content
    div.content
            h1 New posts:
            div
                if comments.length > 0
                    .grid
                        each comment in comments
                            div.comment
                                h3 #{comment.title}
                                p #{comment.comment}
                                p.author #{comment.author}, #{comment.time}
                else
                    h1 No comments
            form(action="/write-comment", method="get")
                div.button-container
                    button(type="submit") Write Comment