<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Philosophical Forum</title>
</head>

<body>
    <div class="top">
        <div class="hub"><span>Philo</span><span>Forum</span></div>
    </div>
    {{{body}}}
</body>