<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" href="css/index.css" /> -->
</head>
<body>
  <div class="top">
    <h1>AGREGATOR POGODOWY</h1>
    <label for="city-select">Wybierz miasto:</label>
    <% if (weatherData){ %>
    <select name="cities" id="city-select" onchange="location = 'city/' + this.value;">
      <option value="">--wybierz miasto--</option>
      <% weatherData[0].forEach(e => { %>
      <option value=<%= e.id_stacji %>><%= e.stacja %></option>
      <%}) %>
    </select>
    <% }else{ %>
    <p>No cities loaded.</p>
    <% } %>
  </div>
  <p id="bottom"></p>
</body>
