<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Philosophical Forum</title>
  </head>
  <body>
    <div class="top">
      <div class="hub"><span>Philo</span><span>Forum</span></div>
    </div>
    <div class="content">
      <h1>Write comment</h1>
      <form action="/send-post" method="post">
        <h3>Title:</h3>
        <input type="text" name="title" />
        <h3>Comment:</h3>
        <textarea name="comment" cols="40" rows="8"></textarea>
        <h3>Author:</h3>
        <input type="text" name="author" />
        <div class="button-container">
          <button type="submit">Send Comment</button>
        </div>
      </form>
    </div>
  </body>
</html>
