extends layouts/basic-layout.pug  
block content
    div.content
            h1 Write comment
            form(action="/send-post", method="post")
                h3 Title:
                input(type="text", name="title")
                h3 Comment:
                textarea(name="comment", cols="40", rows="8")
                h3 Author:
                input(type="text", name="author")
                div.button-container
                    button(type="submit") Send Comment