<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/index.css" /> -->
  <title>User Book</title>
</head>
<body>
  <h1>Say your name, friend:</h1>
  <form action="/send-user" method="POST">
    <input type="text" name="name" /><button type="submit">SEND</button>
  </form>
</body>
