<%- include('includes/main.ejs') %>
<body>
  <h1>List of users:</h1>
  <% if (users.length > 0){ %>
  <ul>
    <% users.forEach(e => { %>
    <li><%= e %></li>
    <%}) %>
  </ul>
  <% }else{ %>
  <p>No names so far.</p>
  <% } %>
  <a href="/">Return</a>
</body>
