<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/index.css" /> -->
  <title>User Book</title>
</head>
<body>
  <h1>List of users:</h1>
  <% if (users.length > 0){ %>
  <ul>
    <% users.forEach(e => { %>
    <li><%= e %></li>
    <%}) %>
  </ul>
  <% }else{ %>
  <p>No names so far.</p>
  <% } %>
  <a href="/">Return</a>
</body>
